@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Public Sans", sans-serif;
}

.container {
  display: flex;
}

.menuContainer {
  width: 350px;
  padding: 5px 20px;
  border-right: 2px solid #919eab3d;
}

.contentContainer {
  width: 100%;
  padding: 5px 20px;
}

.active-hover {
  background-color: #eff3ff;
  color: #1939b7;
}

.active {
  color: #1939b7;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.not-active {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  //   margin-left: 50px;
}

.circleA {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1939b7;
}
.circleB {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #36b37e;
}

.rect1 {
  margin-right: 10px;
  width: 200px;
  height: 15px;
  border-radius: 10px;
  background-color: #1939b7;
}
.rect2 {
  width: 80px;
  height: 15px;
  border-radius: 10px;
  background-color: #36b37e;
}

.dropdown {
  width: 15%;
  display: flex;
  background-color: #eff3ff;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pie-title {
  color: var(--grey-800, #212b36);

  /* Subtitle1 */
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
